<ul>
    {% for children in form.children %}
        {% if children.vars.errors is defined %}
            {% for error in children.vars.errors %}
                <li>{{ error.message }}</li>
            {% endfor %}
        {% endif %}
    {% endfor %}
</ul>