{% extends "base.twig" %}

{% block body %}

    <div class="d-flex">
        {% include "partials/dashboard/navigation.twig" %}

        <div class="mt-5 bg-dark col-6 p-5 text-light">
            {% block content %}{% endblock %}
        </div>
    </div>


{% endblock %}