{% extends "base.twig" %}

{% block body %}

    <div class="d-flex">
        {% include "partials/dashboard/navigation.twig" %}
        {% include "partials/dashboard/home/overlay.twig" %}
    </div>


{% endblock %}