{% extends "base.twig" %}

{% block body %}

    <div class="d-flex flex-column flex-lg-row col-12">
        {% include "partials/dashboard/navigation.twig" %}

        <div class="mt-5 bg-dark col-12 col-lg-6 p-5 text-light">
            {% block content %}{% endblock %}
        </div>
    </div>

{% endblock %}