{% extends "pages/dashboard.twig" %}

{% block content %}
    <div class="pl-lg-5">
        <div>
            <h2>What is this app for?</h2>
            <ul>
                <li><span class="pl-3"></span> This is a basic application that should help employees post requests for vacation & sick days.</li>
                <li><span class="pl-3"></span> Please reffer to readme.md for any additional informations</li>
            </ul>
        </div>
        <div>
            <h2>What now?</h2>
            <ul>
                <li><span class="pl-3"></span> I would recommend that you set your informations and then maybe make a request.</li>
            </ul>
        </div>
    </div>
{% endblock %}