{% extends "pages/dashboard.twig" %}

{% block content %}

    <div class="ml-md-3 d-flex flex-column">
        <h1 class="__response_msg"></h1>
        <h2>Team informations</h2>
    </div>


    {% include "partials/teams/team_stats.twig" with {'team':team} %}

    <div class="col-md-12">
        <div class="col-12 col-md-6">
            <div class="__alert alert d-none">
                <button type="button" class="close">
                    <i class="material-icons __close_alert">close</i>
                </button>
                <span class="__message"></span>
            </div>
        </div>
        {% include "partials/teams/team_members.twig" with {'team':team, 'editor':editor} %}

        {% if editor %}
            {% include "partials/teams/pending_members.twig" with {'team':team, 'editor':editor} %}
        {% endif %}
    </div>

    <script>

        $(function() {
            var teamId = {{ team.getId() }};
            $(document).on('click', '.__remove_member', function() {
                var userId = $(this).attr('data-user-id');
                $.ajax({
                    url: "/teams/remove_member/"+userId+"/"+teamId,
                    method: "POST",
                    success: function(data)
                    {
                        $('.__alert').removeClass('d-none');
                        if(data.success == true)
                        {
                            $('.__alert').addClass('alert-success');
                        }
                        else {
                            $('.__alert').addClass('alert-danger');
                        }
                        $('.__message').html(data.message);
                    }
                });
            });
            $(document).on('click','.__close_alert', function () {
                $(".__alert").addClass('d-none');
            });
        });

    </script>



{% endblock %}