{% extends "pages/dashboard.twig" %}

{% block content %}

    <div class="d-flex flex-column ml-lg-5">

        <div class="d-flex flex-column">
            <h3>Before continuing you must join a team or create one</h3>
            <p>To see the list of avaliable teams, press the "Show teams" button bellow</p>
            <p>To create a team, click "Create new team"</p>
        </div>

        <div class="d-flex">
            <button class="m-2 p-3 btn btn-primary __show_teams">Show teams</button>
            <button class="m-2 p-3 btn btn-primary __create_team">Create new team</button>
        </div>

        <div class="__request_review mt-lg-3"></div>

    </div>



    <script>
        $(document).ready(function() {

            $(".__show_teams").click(function () {
                $.ajax({
                    url: "/teams/show_all",
                    success: function (data)
                    {
                        $(".__request_review").html(data.data);
                    }
                });
            });

            $(".__create_team").click(function () {
                $.ajax({
                    url: "/teams/new",
                    success: function (data)
                    {
                        $(".__request_review").html(data);
                    }
                });
            });

            $(document).on('click','.__save_team', function (e){
                $.ajax({
                    url: "/teams/new",
                    method: "POST",
                    data: $('.__form_new_team').serialize(),
                    success: function (data)
                    {
                        $(".__request_review").html(data);
                        if(data.success)
                        {
                            window.location.reload();
                        }
                    }
                });
                e.preventDefault();
            });

            $(document).on('click', '.__team_apply', function (){
                var id = $(this).attr('data-team-id');
                $.ajax({
                    url: "{{ path('teams_apply') }}",
                    data: {"team_id":id},
                    method: "POST",
                    success: function(data)
                    {
                        if(data.success)
                        {
                            window.location.reload();
                        }
                    }
                })
            });

        });
    </script>


{% endblock %}