{% extends "pages/dashboard.twig" %}

{% block content %}

    <div class="text-center">
        <h2>Pending acceptance</h2>
        <p class="ml-md-5">Your request to join "{{ team.getName() }}" is still pending.</p>
    </div>

{% endblock %}