{% extends "pages/dashboard.twig" %}

{% block content %}

    <div>
        <h2 class="ml-lg-3">Pending acceptance</h2>
        <p class="ml-md-5">Your request to join "{{ team.getName() }}" is being processed. Please be patient while the administrators approve your request.</p>
    </div>

{% endblock %}