<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        <title>{% block title %}Employee Management{% endblock %}</title>


        <!--     Fonts and icons     -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />

        <!-- CSS Files -->
        <link href="{{ asset('css/material-dashboard.min.css') }}?v=2.1.2" rel="stylesheet" />

        <link rel="stylesheet" type="text/css" href="{{ asset('css/all.min.css') }}" />

        {% block stylesheets %}{% endblock %}
    </head>
    <body style="background-color: #eee!important;">
        <div class="wrapper">
            {% if app.user %}
                <div class="sidebar" data-color="azure" data-background-color="white" data-image="/img/sidebar-1.jpg">
                    {% include "partials/dashboard/navigation.twig" %}
                </div>
            {% endif %}
            <div class="main-panel" style="{% if not app.user %}width: 100%;{% endif %}">
                {% if app.user %}
                    {% include "partials/dashboard/top_nav.twig" %}
                {% endif %}
                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include "partials/scripts/main.twig" %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
