<div class="mt-5 bg-dark col-6 p-5 text-light">
    <h1>What is this app for?</h1>
    <p><span class="pl-3"></span>- This is a basic application that should help employees post requests for vacation & sick days.</p>
    <p><span class="pl-3"></span>- Please reffer to readme.md for any additional informations</p>
</div>